extends ../layout/main

block content
	.wrapper.wrapper-intro
		.main-intro
			.main-intro__logo
			a(href="about.html").main-intro__link
				.main-intro__link-container
					.main-intro__text перейти на сайт
					.main-intro__icon