@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "common/normalize";
@import "common/main";
@import "common/fonts";
@import "pages/index";
@import "pages/about";
@import "modules/header";
@import "modules/footer";
@import "modules/navigation";